<div class="alert alert-info">
  <div>
    <strong>Total:</strong>
    <span><%= total_addresses %></span>
  </div>
  <div>
    <strong>Resolvidos:</strong>
    <span><%= resolved_addresses %> (<%= progress_percentage %>%)</span>
  </div>
  <div>
    <strong>Pendentes:</strong>
    <span><%= unresolved_addresses %></span>
  </div>
</div>
