/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
}

.data-table {
  max-width: 100%;
  scroll-x: auto;
}

.data-table tbody th {
  position: sticky;
  top: 0;
}

.max-height-50vh {
  max-height: 50vh;
  overflow-y: auto;
}

.table.nowrap th, .table.nowrap td {
  white-space: nowrap;
}

.table.no-wrap {
  scroll-x: auto;
}

.invalid-feedback {
  color: #dc3545;
}

.actions {
  display: flex;
  gap: 10rem;
  /* start from right*/
  flex-direction: row-reverse;
  margin-bottom: 1rem;
  /* same size */
  /* justify-content: flex-end; */
}

.alert-secondary {
  background: #eee;
}
